*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: hsl(212, 45%, 89%);
    font-weight: 400 700;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*DESKTOP WIDTH */

.container-wdith
{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

/* MOBILE WIDTH */

@media (max-width: 375px) {
    .container-wdith{
      width: 100%;
      padding: 10px;
    }
}

.qr-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.code_container 
{
    width: 100%;
    max-width: 320px;
    height: 65vh;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0 15px #cfcfcf;
}

.code-img
{
    width: 100%;
    display: block;
    padding: 10px;
    overflow: hidden;
}

.code-img img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.code-content h3
{
    width: 250px;
    font-size: 20px;
    margin: 20px 0px 10px 38px;
    line-height: 1.3;
}

.code-content p
{
    display: block;
    text-align: center;
    width: 250px;
    margin-left: 25px;
    color: grey;
}

.footer
{
    min-width: none;
    min-height: 0%;
    display: flex;
    justify-content: end;
    align-items: end;
}